/* Gabe: Adds a margin to the left of the page so the page doesn't display underneath the sidebar, I'm sure there's a better way but I don't know it */
.scroll{
    overflow: auto
}
main {
    margin-left: max(100px,6%);
}


/* --- Gabe: This is not needed anymore as the component imports its own styling ---
        Also I removed the ending for your comment lines so I can just comment the whole block
.valo{
    /* this is the image for the top of the valo page
    img{
        width: 1142px;
        height: 265px;
        padding-left: 7.6%;
        border: 3px solid white;
    }
}

.background{
    /* this the background image
    be careful when edditing as the container width and height will change
    position: relative;
    background-image: url("../../assets/images/ValoArena.png");
    width: 100%;
    height: 700px;
    display: flex;


    .container {
        /* this is the container for the left image
        border: 2px solid white;
        margin-top: 5%;
        margin-left: 13%;
        position: relative;
        width:35%;
        height: 30%;
        border-radius: 10px;
        transition: all 0.3s ease;
        &:hover{
            transform: translateY(-10px);
            filter: brightness(125%);
        }
    img{
            /* the setting for the image to fit in the container
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }
    }
    .container2 {
        /* this is the container for the right image
        position: relative;
        border: 2px solid white;
        margin-top:5%;
        margin-left: 8%;
        width:35%;
        height: 30%;
        border-radius: 10px;
        transition: all 0.3s ease;
        &:hover{
            transform: translateY(-10px);
            filter: brightness(125%);
        }
    img{
            /* the setting for the image to fit in the container
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }
    }

    .Teams{
        /* this is the text for the team text
        where you adjust the text position and size
        position: absolute;
        top: 8%;
        font-size: 30px;
        color: white;
        width: 100%;
    }
    .score {
        /* this is the text for the score text
        where you adjust the text position and size
        top: 30%;
        font-size: 16px;
        position: absolute;
        color: white;
    }

    .Date {
        /* this is the text for the date text
        where you adjust the text position and size
        position: absolute;
        top: 45%;
        font-size: 16px;
        color: white;
    }

    .event {
        /* this is the text for the event text
        where you adjust the text position and size
        top: 60%;
        font-size: 16px;
        position: absolute;
        color: white;
    }

    .Type {
        /* this is the text for the type text
        where you adjust the text position and size
        top: 75%;
        font-size: 16px;
        position: absolute;
        color: white;
    }
}
*/