.Topnav { width: auto;
    max-height: 9%;
    background: #000028;
    text-align: left;
    padding-right: 8%;
    margin-left: 8%;
    border: solid #000028;
    font-size: 32px;
    Color: #ffffff;
}

.p{
    width: 6%;
    background: linear-gradient(to left, #0000ff,#cf23cf,#eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.slideshow-container {
    width: 94%;
    left: 6%;
    position: relative;
    top: -15px;
}

.slideshow{display: none;
    img{
        padding-left: 2%;
        display:  block;
        width: 1140px;
        height: 300px;
    }
}
.dot-container {
    padding-right: 2%;
    width: auto;
    text-align: center;
}
 .dot {
    text-align: center;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
