.Header { width: 1100px;
    text-align: center;
    padding-left: 50px;
    margin: auto;
    border: 3px solid black}
.Header p { font-size: 20px; color: #000000; }

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow{display: none;
    img{
        display:  block;
        margin: 0px auto;
        max-width: 50%;
        max-height: 5%;
    }
}
.dot-container {
    text-align: center;
}
 .dot {
    text-align: center;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
